.menuPage {
  margin-top: 120px;
  margin-left: 50px;
  width: 70%;
}

.cart-div {
  position: absolute;
  left: 70%;
  top: 120px;
  position: fixed;
}

.title-head {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #000;
}

.title-subhead {
  font-size: 0.875rem;
  color: rgba(122, 122, 122, 0.87);
  text-align: left;
}

.title-div {
  border-bottom: 1px solid rgb(233, 233, 233);
  padding-bottom: 15px;
  margin-bottom: 1.5rem;
  height: 100px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
}

.category-marker {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
}

.pizza-price {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  top: 6.3rem;
  left: 8px;
}

.customise-button {
  color: rgba(53, 53, 53, 0.87);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 11px;
  position: absolute;
  top: 6.3rem;
  right: 8px;
}

.customise-button:hover {
  cursor: pointer;
}

.customise-arrow {
  width: 11px;
  margin-top: -1.5px;
}

.fav-marker {
  position: absolute;
  top: 8px;
  right: 8px;
}

.empty-cart-head {
  text-transform: uppercase;
  color: rgb(113, 128, 145);
  font-size: 25px;
  font-weight: 900;
}

.empty-cart-subhead {
  font-size: 15px;
  color: rgb(105, 129, 158);
  margin-top: -17px;
}

.subtotal-div {
  margin-top: 12px;
}

.subtotal-head {
  float: left;
  font-weight: bold;
  font-size: 19px;
  margin-left: 15px;
}

.subtotal-price {
  float: right;
  font-weight: bold;
  font-size: 19px;
  margin-right: 15px;
}

.checkout-btn {
  width: 306px;
  margin-top: 7px;
  color: rgb(255, 255, 255);
  background-color: rgb(130, 187, 55);
  border-radius: 3px;
  border: 1px solid rgb(130, 187, 55);
}

.checkout-btn:hover {
  cursor: pointer;
}

.checkout-text {
  font-size: 14px;
  font-weight: bold;
}

.cart-item {
  margin: 15px 10px 0px 10px;
  border-bottom: 1px dashed rgb(100, 129, 143);
  height: 150px;
}

.cart-img {
  height: 80px;
  width: 80px;
  float: left;
}

.cart-item-title {
  text-align: left;
  margin-left: 100px;
  color: rgb(39, 71, 87);
  font-weight: bold;
  font-size: 16px;
}

.cart-item-desc {
  text-align: left;
  margin-left: 100px;
  color: rgb(100, 129, 143);
  font-size: 12px;
  margin-top: -10px;
  line-height: 1.2;
}

.cart-item-details {
  font-size: 14px;
  font-weight: bold;
  color: rgb(100, 129, 143);
  margin-top: -10px;
}

.card-qty-btn {
  float: right;
}

.cart-qty-btn {
  float: left;
}

.cart-item-price {
  font-size: 18px;
  font-weight: bold;
  float: right;
  color: rgb(44, 101, 128);
  margin-right: 2px;
}
